<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hn369.universeblog.infra.repository.article.ArticleMyBatisMapper">

    <resultMap id="SingleArticlesByTopicAndLanguageMap" type="com.hn369.universeblog.dto.article.ArticleReadResponseDto">
        <id property="articleUuid" column="article_uuid"/>
        <result property="articleName" column="article_name"/>
        <result property="articleContent" column="article_content"/>
        <result property="createdUser" column="created_user"/>
        <result property="updatedUser" column="updated_user"/>
        <result property="masterTopic" column="topic_name"/>
        <result property="masterTopicUuid" column="topic_uuid"/>
        <result property="languageCode" column="language_code"/>
        <result property="languageName" column="language_name"/>
        <result property="viewCounter" column="view_counter"/>
    </resultMap>

    <select id="findSingleArticlesByTopicAndLanguage" resultMap="SingleArticlesByTopicAndLanguageMap">
		select at.article_uuid, at.article_name, at.article_content, at.created_user, 
			   at.updated_user, tt.topic_name, tt.topic_uuid, l.language_code, l.language_name,
			   a.view_counter
		from article a join article_translation at on a.article_uuid = at.article_uuid
			  join article_topic atp on a.article_uuid = atp.article_uuid
			  join topic t on t.topic_uuid = atp.topic_uuid
			  join topic_translation tt on t.topic_uuid = tt.topic_uuid
			  join language l on at.language_code = l.language_code
		where atp.topic_uuid = #{topicUuid}
			  and atp.matter_topic = true
			  and at.language_code in ('int', #{languageCode})
			  and tt.language_code in ('int', #{languageCode})
			  and at.serial_article_uuid is null
    </select>

</mapper>